
body {
  background: url(finance.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  /* -moz-background-size: cover; */
  /* -o-background-size: cover;  */
  /* background-color: #dedede; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  min-height: 100vh;
}


.balance {
  color : darkblue;
  font-style:  italic;
  font-size: 35px;
  text-align: center;
}
 .container {
   margin: 30px auto;
   width: 350px;
   background-color: rgba(50, 130, 177, 0.849);
   border-radius: 10px;
   padding: 20px;
  }
   .inc-exp-container {
     border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* margin: 20px 0; */
  }
  
  .inc-exp-container > div {
    flex: 1;
    text-align: center;
    /* border-right: 1px solid #dedede; */
  }
  
    .inc-exp-container > div:first-of-type {
      border-right: 1px solid #dedede;
    }
 

  .money.plus {
    color: #0f911aee;
    /* font-size: x-large; */
    font-weight: bold;
  }
  
  .money.minus {
    color: #c0392b;
    font-weight: bold;
  }
  .list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: darkslategray;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}


.btn 
{
  cursor: pointer;
  background-color:rgba(12, 68, 100);
  box-shadow: var(--box-shadow);
  color: #fff;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.delete-btn {
  /* cursor: pointer;
  background-color:rgba(12, 68, 100, 0.849);
  box-shadow: var(--box-shadow);
  color: #fff;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%; */


  cursor: pointer;
  background-color: red;
  border: 20;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 20%;
  height: 100%;
}
/* .delete-btn:hover{
  opacity: 1;
} */
.list li:hover .delete-btn {
  opacity: 1;
}
 .list li:hover{
   
 }

.h3{
  border-bottom: 1.5px solid gray;
  padding-bottom: 10px;
  text-align: center;
  /* margin: 40px 0 10px; */
}